<!doctype html>

<html>
<head>
	<title>MuSeek</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<link href="/css/question.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="display:none;">
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<a href="/?chapter=0" class="glyphicon glyphicon-remove" aria-hidden="true"></a>
					<span class="navbar-brand">Quiz</span>
		    </div>

		  </div><!-- /.container-fluid -->
		</nav>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<main class="container-fluid">
			<div id="question1" class="row">
				<div class="thumbnail">
					<img class="question-picture" src="/image/c_note.svg" alt="">
					<div class="caption">
						<div class="question-type">
							<p>Select the right answer:</p>
						</div>
						<div class="question-description">
							<p>Which note is this?</p>
						</div>
						<div class="answer">
							<span class="col-xs-6 col-sm-6">
							<input id="Radio1" name="Radios" type="radio" value="Option 1">
							<label for="Radio1">A</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="Radio2" name="Radios" type="radio" value="Option 2" >
							<label for="Radio2">B</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="Radio3" name="Radios" type="radio" value="Option 3" >
							<label for="Radio3">C</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="Radio4" name="Radios" type="radio" value="Option 4" >
							<label for="Radio4">D</label>
							</span>

						</div>
						<p><button id="button1" class="start-button universal-button">Confirm Answer</button></p>
					</div>
				</div>
			</div>
			<div id="question2" class="row" style="display:none;">
				<div class="thumbnail">
					<img class="question-picture" src="/image/g_note.svg" alt="">
					<div class="caption">
						<div class="question-type">
							<p>Select the right answer:</p>
						</div>
						<div class="question-description">
							<p>Which note is this?</p>
						</div>
						<div class="answer">
							<span class="col-xs-6 col-sm-6">
							<input id="RadioA" name="Radios1" type="radio" value="Option A">
							<label for="RadioA">E</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="RadioB" name="Radios1" type="radio" value="Option B" >
							<label for="RadioB">F</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="RadioC" name="Radios1" type="radio" value="Option C" >
							<label for="RadioC">G</label>
							</span>

							<span class="col-xs-6 col-sm-6">
							<input id="RadioD" name="Radios1" type="radio" value="Option D" >
							<label for="RadioD">H</label>
							</span>

						</div>
						<p><button id="button2" class="start-button universal-button">Finish Quiz</button></p>
					</div>
				</div>
			</div>
		</main>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/question.js"></script>
</body>
</html>
