* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
  background: linear-gradient(to bottom, #93f9b9, #daffe8);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.alert.alert-danger {
  /*display: none;*/
  /*transition: all 1s;*/
  background-image: linear-gradient(to bottom,#f09819 0,#f09819 100%);
  background-repeat: repeat-x;
  border-color: #a0e6a1;
  color: white;
  border-radius: 5px;
  max-width: 240px;
}

.container {
  padding-right: 10px;
  padding-left: 10px;

}

div.navbar-header {
  justify-content: center;
}

form .form-control {
  margin-bottom: 10px;
  height: 40px;
  background-color: #fff9;
  transition: all 1s;
}


form .form-control:focus {
  background-color: white;
    border-color: #A5FAC5;  /*transition: all;*/
}

.inline-display {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.notice {
  margin-top: 20px;
}


.form-forget h2{
  font-size: 23px;
}

main .btn-block {
  background-color: #58ca58;
  border-color: #49af3b;
}


.button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.btn-lg {
  width: 180px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btn-lg:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.shakey {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.logo_achor {
	animation: 1s all;
	pointer-events: none;
	width: 90%;
  margin-bottom: 20px;
}
