.universal-button {
  background: whitesmoke;
  border-radius: 40px;
  transition: all 1s;
  border-width: 2px;
}

.universal-button:hover {
  background-color: #ffffff;
  /*transition: all;*/
}


.button-disabled {
  opacity: 0.6;
  pointer-events: none;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}


div.navbar-footer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.navbar-footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: #949090;
  min-width: 120px;
  min-height: 50px;
}

div.navbar-footer a .nav-bottom-text {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

div.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

div.navbar-header .navbar-toggle {
  margin-right: 0px;
}

div.navbar-header a {
  font-size: 30px;
  color: #949090;
}

div.navbar-header span {
  font-size: 25px;
}

div.navbar-footer a:hover {
  text-decoration: none;
  background-color: #b4ffc8;
  color: white;
  transition: color 0.5s;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #e0e0e0;
}




main {
  text-align: center;
  margin-top: 60px;
  /* margin-bottom: 60px; */
}

.thumbnail {
  border: none;
  box-shadow: none;
}

img {
  transform: translateX(-1px);
}

.img-container {
  display: flex;
  justify-content: space-around;
}
