main {
  margin-top: 80px;
}

main .btn-group-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}


main div.btn-group-vertical button {
  height: 62px;
  width: 70%;
  margin: 10px auto;
}
