/* .navbar-header a {
  left: 15px;
} */

#temp-hover.showTooltip:before {
  /* content: "▲"; */
  opacity: 1;
  /* font-size: 30px !important; */
}

#temp-hover.showTooltip:after {
  opacity: 1;
  background-color: #76d476fc;
  font-size: 30px !important;
}

#temp-hover.hoverOnload::before {
  opacity: 0;
}

#temp-hover.hoverOnload::after {
  opacity: 0;
}


.navbar-brand {
  text-align: center;
  font-size: 21px;
}

.start-button {
  height: 45px;
  width: 35%;
}


.caption {
  max-width: 370px;
/* text-align: center; */
  margin: 10px auto;
  font-size: 20px;
}

.tip {
  border: 1px solid #d2d1d1;
  margin: 19px auto;
  border-radius: 9px;
  display: flex;
  align-items: center;

}

.thumbnail {
  max-width: 370px;
  margin: auto auto;
  border: none;
  min-height: 400px;
}

.tip-description {
  margin: auto;
}


.shakey {
  text-shadow: 3px 2px 20px #5cb85c;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.lesson-hidden {
  display: none;
}

div[id^="page"] {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.page-nav-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-nav-button button {
  color: #228e22;
  border-width: 0;
  font-size: 25px;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

.page-nav-button button a{
  color: #228e22;
}
